{% extends 'AppAdminBundle:Layout:admin.html.twig' %}

{% block body %}
   <div class="col-lg-12">
         <section class="panel">
             <header class="panel-heading">
                 Édition d'un média 
             </header>
            <div class="panel-body">
                 <div class="tip4e">
                    <img width="{{ iImageWith }}" src="{{ media_path }}~{{ asset( ~ entity.path ~'.' ~ entity.extension) }}" id="target" /><br>
                    <br>
                    <a class="btn btn-success" onclick="crop({{ entity.id }});">Crop</a>
                 </div>
            </div>
            <select id="format_crop" name="format_crop">
              {% for format in formats %}
                 <option value="{{ format.slug }}">{{format.name}}</option>
              {% endfor %}
            </select>
         </section>
         <section id="formats" class="panel">
            <header class="panel-heading">
                Images cropées
            </header>
                <div id="container" class="panel-body">
                   {% set i = 1 %}
                   <ul class="grid cs-style-3">
                   {% for format in formats %}
                      <li>
                        <figure>
                            <img src="{{ asset('uploads/documents/' ~ entity.path ~ '_' ~ format.slug ~ '.' ~ entity.extension) }}" />
                            <figcaption>
                                <h3>{{ format.slug }}</h3>
                                <span>{{ format.width }} x {{ format.height }}</span>
                                <p>{{ asset(format.slug ~ '.' ~ entity.extension) }}</p>
                                <a class="tip5" href="#login_form_{{ format.slug }}">details image</a>
                                <div style="display:none">
                                  <form id="login_form_{{ format.slug }}" method="post" action="">
                                     <p>
                                        <img src="{{ asset('uploads/documents/' ~ entity.path ~ '_' ~ format.slug ~ '.' ~ entity.extension) }}"  />
                                        <p>{{ format.width }} x {{ format.height }}</p>
                                     </p>
                                  </form>
                               </div>
                                {#<a class="fancybox" rel="group" href="{{ asset('uploads/documents/' ~ entity.path ~ '_' ~ format.slug ~ '.' ~ entity.extension) }}">Take a look</a>#}
                            </figcaption>
                        </figure>
                      </li>
                   {% endfor %}
                   </ul>
                </div>
         </section>
   </div>
                        
   <div id="titi" style="display: none;" class="fancybox-overlay fancybox-overlay-fixed" style="width: auto; height: auto; display: block;">
      <div class="fancybox-wrap fancybox-desktop fancybox-type-inline fancybox-opened" tabindex="-1" style="width: 403px; height: auto; position: absolute; top: 20px; left: 511px; opacity: 1; overflow: visible;">
         <div class="fancybox-skin" style="padding: 15px; width: auto; height: auto;">
            <div class="fancybox-outer">
               <div class="fancybox-inner" style="overflow: hidden; width: 373px; height: 154px;">
                  <div id="login_form_mini">
                         <p>
                            <img src="{{ asset('bundles/appadmin/images/progressbar.gif') }}" />
                         </p>
                  </div>
               </div>
            </div>
            <a title="Close" class="fancybox-item fancybox-close" href="javascript:;"></a>
         </div>
       </div>
   </div>
{% endblock %}

{% block javascripts %} 
   {{ parent() }}
   
   <script language="Javascript">
      /*test fancy*/
      $(".tip5").fancybox({
      'scrolling'		: 'no',
      'titleShow'		: false,
         'onClosed'		: function() {
             $("#login_error").hide();
         }
      });
      
      $("#titi").fancybox({
      'scrolling'		: 'no',
      'titleShow'		: false,
         'onClosed'		: function() {
             $("#login_error").hide();
         }
      });
      
      /*fin de test*/
      
      var cropTab = [];
   
   {% for format in formats %}
      cropTab['{{format.slug}}_width'] = {{ format.width }};
      cropTab['{{format.slug}}_height'] = {{ format.height }};
      cropTab['{{format.slug}}_quality'] = {{ format.quality }};
      cropTab['{{format.slug}}_ratio'] = {{ format.width / format.height}};
    {% endfor %}  
       
       var x    = 0;
       var y    = 0;
       var x2   = 0;
       var y2   = 0;
       var w    = 0;
       var h    = 0;
       var slug = "";

     function changeCoords(c)
     {
        //console.log(c);
        x  = c.x *  {{ dCoeffCrop }};
        y  = c.y *  {{ dCoeffCrop }};
        x2 = c.x2 * {{ dCoeffCrop }};
        y2 = c.y2 * {{ dCoeffCrop }};
        w  = c.w *  {{ dCoeffCrop }};
        h  = c.h *  {{ dCoeffCrop }};
     };
  
     function crop($id)
     {
        slug = $("#format_crop option:selected").val();
         $.post("{{path('media_crop')}}", { 
          ajax_x : x,
           ajax_y : y,
            ajax_x2 : x2,
             ajax_y2 : y2,
              ajax_w : w,
               ajax_h : h,
                ajax_id : $id,
                 ajax_slug : slug }
                 )
                 .done(function(data){
                     alert(data.path);
                  });
     }
   
   $('#target').Jcrop({
       onSelect: changeCoords,
       animateTo: [ 0,0,{{ formats.0.width}},{{ formats.0.height}} ],
       aspectRatio: {{ formats.0.width / formats.0.height }}
   },function(){
       jcrop_api = this;
   });
     
     $("#format_crop").on('change', function(){
         var name = $("#format_crop option:selected").val();
         $("#img_width").val(cropTab[name + "_width"]);
         $("#img_height").val(cropTab[name + "_height"]);
         $("#img_quality").val(cropTab[name + "_quality"]);
         $("#img_name").val(name);
         jcrop_api.setOptions({
          aspectRatio: cropTab[name + "_ratio"]
         });
     }); 
   </script>
  {% endblock %}