{% extends 'AppAdminBundle:Layout:admin_layout.html.twig' %}
{#{% form_theme edit_form 'AppAdminBundle:Form:fields.html.twig' %}#}

{% block body %}
{# 
<div class="row">
   <div class="col-lg-12">
       <section class="panel">
           <header class="panel-heading">
               Édition d'un média
           </header>
          <div class="panel-body">
            <form method="post" class="form-horizontal tasi-form" action="{{ path ('media_update', {'id' : entity.id}) }}" {{ form_enctype(edit_form) }}>
               {{ form(edit_form) }}
           </div>
           <img src="{{ asset(entity.path) }}" />
            </form>
            <ul class="record_actions">
               <li>
                   <a href="{{ path('media') }}">
                       Back to the list
                   </a>
               </li>
            </ul>
      
       </section>
   </div>
</div>
#}

<div>
   <img src="{{ asset('uploads/documents/novedia2.png')}}" id="target" />
   <img  src="{{ asset(path ~ entity.path)}}" />
</div>

<a onclick="crop('{{entity.id}}');">Crop</a>

{% endblock %}

{% block javascripts %} 
   {{ parent() }}
   
   <script language="Javascript">
       var x    = 0;
       var y    = 0;
       var x2   = 0;
       var y2   = 0;
       var w    = 0;
       var h    = 0;
       var slug = "crop1";
       
      jQuery(function($) {
          $('#target').Jcrop({
              onChange: changeCoords
          });
      });

     function changeCoords(c)
     {
        console.log(c);
        x  = c.x;
        y  = c.y;
        x2 = c.x2;
        y2 = c.y2;
        w  = c.w;
        h  = c.h;
     };
     function crop($id)
     {
         $.post("{{path('media_crop')}}", { x : x, y : y, x2 : x2, y2 : y2, w : w, h : h, id : $id, slug : slug })
                 .done(function(data){    
            alert(data.path);
         });
     }
   </script>
  {% endblock %}