{% extends 'AppAdminBundle:Layout:admin_layout.html.twig' %}
{#{% form_theme edit_form 'AppAdminBundle:Form:fields.html.twig' %}#}

{% block body %}

   
   <div class="col-lg-12">
       <section class="panel">
           <header class="panel-heading">
               Édition d'un média
           </header>
          <div class="panel-body">
             {{ entity.type }}
               <div>
                  <img src="{{ asset('uploads/documents/'~entity.path)}}" id="target" />
                  <a onclick="crop('{{entity.id}}');">Crop</a>
               </div>
          </div>

            <ul class="record_actions">
               <li>
                   <a href="{{ path('media') }}">
                       Back to the list
                   </a>
               </li>
            </ul>
      
       </section>
   </div>
</div>

{#
<div>
   <img src="{{ asset('uploads/documents/'~entity.path)}}" id="target" />
</div>

<a onclick="crop('{{entity.id}}');">Crop</a>
#}
{% endblock %}

{% block javascripts %} 
   {{ parent() }}
   
   <script language="Javascript">
       var x    = 0;
       var y    = 0;
       var x2   = 0;
       var y2   = 0;
       var w    = 0;
       var h    = 0;
       var slug = "crop1";
       
      jQuery(function($) {
          $('#target').Jcrop({
              onChange: changeCoords
          });
      });

     function changeCoords(c)
     {
        console.log(c);
        x  = c.x;
        y  = c.y;
        x2 = c.x2;
        y2 = c.y2;
        w  = c.w;
        h  = c.h;
     };
     function crop($id)
     {
         $.post("{{path('media_crop')}}", { x : x, y : y, x2 : x2, y2 : y2, w : w, h : h, id : $id, slug : slug })
                 .done(function(data){     
                     alert(data.path);
                  });
     }
   </script>
  {% endblock %}